* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: "all 0.3s ease";
}

.popover {
  &:popover-open {
    inset: unset;
    left: 8px;
    background-color: lavender;
    border: none;
    padding: 16px;
    border-radius: 8px;
  }
}

.button {
  border: none;
  padding: 10px 16px;
  background-color: rgb(255, 228, 196);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: rgb(235, 208, 176);
  }

  &:focus-within {
    background-color: rgb(235, 208, 176);
  }
}
